APP_PORT=8090
CASSANDRA_HOST=localhost
CASSANDRA_PORT=9042
CASSANDRA_KEYSPACE=semapa
JWT_SECRET=cambiar-en-produccion
MOBILE_USERS=[{"id":"1","username":"admin","password":"admin123","role":"administrador","nombre":"Admin"},{"id":"2","username":"lector1","password":"lector123","role":"lector","nombre":"Lector"}]
